.main_content {
	width: 800px;
	padding: 10px 0;
	background: #fff;
	display:block;
	margin: 0 auto;
}
.floatleft {
	float: left;
}
.clearboth {
	clear: both;
}
h1 {
	font-size: 36px;
	font-weight: bold;
	line-height: 40px;
	margin: 25px 5px;
}
h2 {
	font-weight:normal;
	margin: 0 0 15px;
	/* border: 2px solid #ebebeb; */
	font-size: 26px;
	line-height: 30px;
}
/* index.php <div> */
.table_style {}
.table_style ul {
	display: table-row;
	/* clear: left; */
	/* list-style-type: none; */
}
.table_style .header li {
	font-weight: bold;
	text-align: center;
	border-top: 1px solid #ddd;
	background: #4691A4;
	color: #fff;
}
.table_style ul li {
	display: table-cell;
	padding: 5px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.table_style ul li:first-child {
	border-left: 1px solid #ddd;
}
.table_style ul .index {
	box-sizing: border-box;
	width: 60px;
}
.table_style ul .subject, .table_style ul .title {
	box-sizing: border-box;
	width: 480px;
}
.table_style ul .author {
	box-sizing: border-box;
	width: 120px;
}
.table_style ul .dtm {
	box-sizing: border-box;
	width: 120px;
}
.table_caption {
	display: table-caption;
	font-size: 12px;
	color: #666;
}
/* index.php -> page */
.page {
	text-align: left;
}
.page a, .page span {
	font-size: 16px;
	margin: 0 5px;
}
.page span.now {
	font-weight: bold;
	color: blue;
}
/* button */
.button {
	margin: 10px 0;
}
.button a {
	font-size: 16px;
	padding: 5px 15px;
	border: 1px solid #ddd;
}
.button .mark {
	background-color: #4691A4;
	color: #fff;
}
/* write_post.php <form> */
.input_content {
	width: 500px;
	padding: 10px;
	background: #fff;
	display:block;
	margin:0 auto;
}
.input_content h1 {
	text-align: center;
}
.form_style li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form_style label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form_style span{
	font-size: 14px;
	font-weight: normal;
	color: red;
}
input {
	width: 100%;
    padding: 8px 15px 8px 15px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	/* border-radius: 4px; */
}
input[type=text] {
	background-color: #f8f8f8;
	resize: none;
}
textarea {
	width: 100%;
	min-height: 100px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	/* border-radius: 4px; */
	background-color: #f8f8f8;
	resize: vertical;
    overflow: auto;
}
/* textarea:nth-of-type { overflow: hidden; } */
input[type=submit] {
	width: 80px;
	font-size: 16px;
	/* border-radius: 4px; */
    background: #4B99AD;
    border: none;
    color: #fff;
}
input[type=submit]:hover {
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
/* View post */
.view_post {
	width : 800px;
	margin : 0 auto;
}
.view_post .text {
	width: 200px;
	height: 2em;
	padding: 2px;
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	background-color: #eee;
}
.view_post .output {
	width: 600px;
	height: 2em;
	padding: 2px;
	border-top: 1px solid #bbb;
	border-right: 1px solid #bbb;
}
.view_post .content {
	width: 800px;
	height: 200px;
	padding: 10px;
	border: 1px solid #bbb;
}